*~
.gradle
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings
.DS_Store
.textmate
*.sublime-*
.nb-gradle
atlassian-ide-plugin.xml
target
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/copyright
!.idea/copyright/*
!.idea/vcs.xml
collection/bin
collection/build
kollection/bin
kollection/build
build/
